html {
  /* To make use of full height of page*/
  min-height: 100%;
  margin: 0;
}
body {
  background: linear-gradient(0deg, rgba(189,236,255,1) 0%, rgba(92,147,238,1) 100%);
  background-image: url("wall.jpg");
  background-repeat: no-repeat;
  min-height: 100%;
  margin: 0;
}